.App {
  text-align: center;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:focus,
button:focus,
input:focus {
  outline: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.card-row__city {
  font-size: 23px;
}

/*
Mixins
 */
* {
  box-sizing: border-box;
}

.card-row__container {
  padding: 0 15px;
}
@media (min-width: 1024px) {
  .card-row__container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .card-row__container {
    max-width: 1410px;
  }
}

.card-row__wrapper {
  margin: 60px 0;
}

.card-row__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}
@media (max-width: 767px) {
  .card-row__item {
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .card-row__item {
    align-items: center;
  }
}

.card-row__column {
  padding: 15px;
  width: 80%;
}
.centered{
  margin: auto;

}
@media (max-width: 767px) {
  .card-row__column {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .card-row__column--info {
    width: 20%;
  }
}

.card-row__column--detail {
  flex: 1 1 0;
}
@media (min-width: 1024px) {
  .card-row__column--detail {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.card-row__column-item {
  flex: 1 1 0;
}
@media (min-width: 1024px) {
  .card-row__column-item--center {
    text-align: center;
  }
}

.card-row__city--bold,
.card-row__name--bold {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 105, 135);
}

@media (min-width: 768px) {
  .card-row__city {
    margin-bottom: 10px;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  .card-row__city {
    margin-bottom: 0;
  }
}

.card-row__link {
  position: relative;
  color: #f00;
}
.card-row__link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #f00;
  transition: width 0.3s ease-out;
}
.card-row__link:hover:after {
  width: 0;
}

.add-file {
  display: inline-block;
}
